.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.bgImg {
  background-image: url(../../assets/images/space.jpg);
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: absolute;
}